[submodule "contracts/plugins"]
	path = contracts/plugins
	url = git@github.com:nymlab/vectis-plugins.git
[submodule "contracts/core"]
	path = contracts/core
	url = git@github.com:nymlab/vectis-contracts.git
