[package]
name = "vectis-contract-tests"
version = "0.1.0"
authors = ["bwty <whalelephant@users.noreply.github.com>", "iorveth <aenseidheiorweth@gmail.com>"]
edition = "2021"
publish = false

[[test]]
name = "multi-contracts-integration-tests"
path = "tests/lib.rs"

[features]
croncat-plugin = []

[dev-dependencies]
vectis-factory = { path = "../../contracts/factory" }
vectis-proxy = { path = "../../contracts/proxy", features = ["migration", "library"]}
vectis-govec = { path = "../../contracts/govec", features = ["library"]}
vectis-plugin-registry = { path = "../../contracts/plugin_registry", features = ["tests"]}
vectis-dao-tunnel = {path = "../../contracts/dao_tunnel", features = ["library"]}
vectis-remote-factory = {path = "../../contracts/remote_factory", features = ["library"]}
vectis-remote-tunnel = {path = "../../contracts/remote_tunnel", features = ["library"]}
anyhow = "1"
assert_matches = "1"
cosmwasm-std = { version = "1.0.0", features = ["staking"] }
cw-storage-plus = "0.13"
cw1 = "0.13"
cw2 = "0.13"
cw20 =  "0.13"
cw3-fixed-multisig = { version = "0.13", features = ["library"] }
cw3 = "0.13"
cw-utils = "0.13"
schemars = "0.8.3"
serde = { version = "1.0.127", default-features = false, features = ["derive"] }
thiserror = { version = "1.0.26" }
sha2 = "0.9"
hex = { version = "0.4", default-features = false }
cosmwasm-schema = { version = "1.0.0" }
secp256k1 = {version = "0.20", features = ["bitcoin_hashes"]}
vectis-wallet = { path = "../../packages/vectis" }
cw20-stake = {git = "https://github.com/nymlab/dao-contracts",  rev = "1383ecb2162968a"}
cw-core = {git = "https://github.com/nymlab/dao-contracts",  rev = "1383ecb2162968a"}
cw20-staked-balance-voting = {git = "https://github.com/nymlab/dao-contracts",  rev = "1383ecb2162968a"}
cw-proposal-single = {git = "https://github.com/nymlab/dao-contracts",  rev = "1383ecb2162968a"}
voting = {git = "https://github.com/nymlab/dao-contracts",  rev = "1383ecb2162968a"}
cw-multi-test = { version = "0.16" }
derivative = "2"
cronkitty = { path = "../../../vectis-plugins/cronkitty" }
cw-croncat-core = "0.1.3"
cw-rules-core = "0.1.1"
cw-croncat = { path = "../../../../cw-croncat/contracts/cw-croncat" }
cw-rules= { path = "../../../../cw-croncat/contracts/cw-rules" }
